.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.left-side {
  min-height: 1vh;
  flex-grow: 1;
  background-color: aqua;
}
.right-side {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  background-color: rgb(134, 153, 160);
}
#nameChanger {
}
#submit {
}
